lin/terraform-aws/.terraform/*
lin/terraform-aws/.local/*
lib/terraform-aws/.local
lib/terraform-aws/.terraform
lib/terraform-aws/terraform.tfstate*
lib/terraform-aws/.terraform.tfstate.lock.info
keys
